.container img {
  width: 100%;
}

h2 {
  text-align: center;
  margin: 50px 0 20px 0;
}

.row p {
  position: absolute;
  height: 300px;
  left: 100px;
  top: 50px;
  font-size: x-large;
  writing-mode: vertical-rl;
}

.line {
  position: absolute;
  height: 290px;
  top: 50px;
  border-right: 3px solid red;
}

.l1 {
  left: 134px;
}

.l2 {
  left: 168px;
}

.l3 {
  left: 202px;
}

.l4 {
  left: 236px;
}

.l5 {
  left: 270px;
}

.l6 {
  left: 304px;
}

.l7 {
  left: 336px;
}

.l8 {
  left: 370px;
}

.row>div {
  position: relative;
}